th {
    background-color: #89bdd3;
    color: white;
}

tr:nth-child(even){background-color: white}
tr:nth-child(odd){background-color: white}

/*
table {
    table-layout:fixed; }

table td {
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
} */
/*
table {
  table-layout: fixed;
  width: 100%; 
  text-align: center;
}
td {
  width: 30px;
} */

table {
  table-layout: fixed;
  
}
td {
  width: 30px;
} 

@media (max-width: 991px) {
    .test {
        display: block;
    }


}

table {
    width:100%;
}



