<!DOCTYPE html>
    <html>
        <head>
            <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen'>
            <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/design/css/my_css.css">
            <link rel="stylesheet" href="/fonts/Oswald/Oswald-Regular.ttf">
            <link rel="stylesheet" href="/fonts/Lobster/Lobster-Regular.ttf">
            <link rel="stylesheet" href="/fonts/Satisfy/Satisfy-Regular.ttf">
        </head>
        <body>
                <div class="container" id="div-container">
                    <div class="row">
                        <div class="col-md-7" style="background-color: #89bdd3">
                            <div style="font-size: 70px; font-family: 'Oswald'; text-align: center; font-weight: bold; line-height: 90%">
                                MY<br>
                                NAME<br>
                                IS:<br>
                                Edgaras<br>
                                Kazlauskas
                            </div>
                             <div>
                                 <div style="width: 50%; margin: auto">
                            <p> Experience in software and technologies:</p>                          
                            <ul>
                                <li>Programing with Java (Desktop and Android applications)</li>
                                <li>ASP.NET MVC 5 web application framework with Visual Studio 2015</li>
                                <li>Back-end web API development using Node.js server and MongoDB database (JavaScript)</li>
                                <li>Design and styling with HTML/CSS</li>
                                <li>Git version control system</li>
                            </ul>
                            <p>Process management:</p>
                            <ul>
                                <li>Experience in agile software development frameworks like SCRUM and Extreme programing</li>
                                <li>Unified process and pair programing</li>
                            </ul>
                             </div>
                             </div>
                             <div>
                            <p style="display: inline-block; font-family: 'Lobster', cursive">Visit my</p>
                            <div style="display: inline-block">
                                <a class="btn homepage-button button-with-element-in-middle" href="/projects">
                                    <div><span class="glyphicon glyphicon-home"></span> Projects</div>
                                </a>
                            </div>
                            <div style="display: inline-block">
                                <a class="btn btn-success homepage-button button-with-icon" style="background-color: #e3e3e3; border-color: #e3e3e3" href="https://github.com/EdgarasKarolina">
                                    <img src="/images/gb.png" style="width: 100%; height: 100%;" id="image-not-blurry">
                                </a>
                            </div>
                            <div style="display: inline-block">
                                <a class="btn btn-success homepage-button button-with-icon" style="background-color: #e3e3e3; border-color: #e3e3e3" href="https://github.com/EdgarasKarolina">
                                    <img src="/images/Linked-in.png" style="width: 100%; height: 100%;" id="image-not-blurry">
                                </a>
                            </div>
                             </div>
                            
<form action="/sendEmail" method="POST">
<div class="row">
    <div class="col-md-6">
  <input type="email" name="email" placeholder="Email" required="required">
    </div>
    <div class="col-md-6">
  <input type="text" name="subject" placeholder="Subject" required="required">
    </div>
</div>
  <br>
  <input type="text" name="message" placeholder="Message" required="required">
  <br><br>
  <input type="submit" value="Send">
</form> 

                        </div>
                        <div class="col-md-5" style="background-color: #9ad3de">
                            <img id="profile-image" src="/images/foto.jpg">
                            <pre>
                                Tropical Storm Bill hit the Gulf Coast of the United States
                                in the summer of 2003. The second storm of that Atlantic 
                                hurricane season, Bill developed from a tropical wave on June
                                29 to the north of the Yucatán Peninsula. It slowly organized
                                as it moved northward, and reached a peak of 60 mph (95 km/h)
                                shortly before making landfall in south-central Louisiana. It
                                produced a moderate storm surge, causing tidal flooding. In 
                                Montegut in the southeastern portion of the state, a levee was 
                                breached, flooding many homes, and in Florida, two swimmers drowned. 
                                As Bill accelerated to the northeast, moisture from the storm, 
                                combined with cold air from an approaching cold front, produced 
                                an outbreak of 34 tornadoes. 
                            </pre>
                        </div>
                    </div>
                </div>
        </body>
    </html>


