<!DOCTYPE html>
<html style="background-color: #9ad3de;">
    <head>
        <link rel="stylesheet" href="/fonts/Sofia-Regular.ttf">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/design/css/projects_page.css">
        <link rel="stylesheet" type="text/css" href="/design/css/home_page.css">
         <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <script type="text/javascript" src="javascript.js"></script>
    </head>
    <body style="background-color: #9ad3de; margin: 60px;">
        <table class="table" style="margin-top: 0em; margin-bottom: 0em">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Technologies
                </th>
                <th>
                    Source Code
                </th>
            </tr>
        <% for (i = 0; i < projectTitle.length; i++) { %>
            <tr class="color-or-not-div"  style="border-bottom-style: hidden;">
                <td style="font-family: 'Oswald'; font-weight: bold; font-size: 1.8em">
                    <%= projectTitle[i] %>
                </td>
                <td style="font-family: 'Oswald'; font-weight: medium; font-size: 1.3em">
                    <%= projectDescription[i] %>
                </td>
                <td style="font-family: 'Oswald'; font-weight: medium; font-size: 1.3em">
                    <%= projectLanguage[i] %>
                </td>
                <td>
                    <div>
                        <a class="btn homepage-button button-with-element-in-middle" style="color: white; background-color:#89bdd3" href="<%= projectGitHubLinks[i] %>">
                            <div>Read More    <span class="glyphicon glyphicon-chevron-right"></span></div>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="blank_row">
    <td style="background-color: #e3e3e3" colspan="4"></td>
</tr>
         <%   }  %>
        </table>
        <a type="button" class="btn button-with-element-in-middle" href="/" style="font-size: 20px; margin-top:1%;"><div><span class="glyphicon glyphicon-arrow-left"></span> Home Page</div></a>
    <body>
</html>