<!DOCTYPE html>
<html>

<head>
    <script src="/resources/jquery/jquery-3.4.1.js"></script>
    <script>
        $(function () { $("head").load("/views/Projects/Shared/head.html") });
    </script>
</head>

<body>
    <title>Baltic Marinas</title>
    <div class="container" style="width:100%;">
        <div class="row">
            <div class="col-md-4 fullHeight" style="background-color: #89bdd3;">
                <div>
                    <a class="btn back-button-project" href="/projects">
                        <div><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
                    </a>
                </div>
                <hr id="hr-below-element">
                <div style="margin: 30px;">
                    <b>Technologies:</b>
                    <ul>
                        <li>.NET</li>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>ASP.NET Core MVC</li>
                        <li>Web services</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Prerequisites:</b>
                    <ul>
                        <li>Visual Studio IDE installed</li>
                        <li>Database Management System installed</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Running:</b>
                    <ul>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Links to Repository:</b>
                    <ul style="list-style-type: none;">
                        <li>
                            <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/BalticMarinasClient"> <img
                                    src="/resources/images/Shared/github.png" width="130" height="50"
                                    alt="Italian Trulli"></a>
                        </li>
                    </ul>
                </div>
                <hr id="hr-over-element">
                <div>
                    <b>Other projects:</b>
                    <ul class="other-projects-list">
                        <li><a href="/projects/chronicalKidneyDiseaseAI">Chronical Kidney Disease AI recognition</a></li>
                        <li><a href="/projects/personalWebsite">Personal Website</a></li>
                        <li><a href="/projects/unitConverter">Unit Converter</a></li>
                        <li><a href="/projects/realEstate">Real Estate</a></li>
                        <li><a href="/projects/spaceShooter">Space Shooter</a></li>
                        <li><a href="/projects/jobTrack">Job Track</a></li>
                        <li><a href="/projects/ticTacToe">Tic-Tac-Toe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 fullHeight" style="background-color: #9ad3de;">
                <div style="margin: 30px">
                    <h1 class="center-project-title">Baltic Marinas</h1>
                </div>
                <article>
                    <p>
                        Web application for booking marinas.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <body>

</html>