<!DOCTYPE html>
<html>

<head>
    <script src="/resources/jquery/jquery-3.4.1.js"></script>
    <script>
        $(function () { $("head").load("/views/Projects/Shared/head.html") });
    </script>
</head>

<body>
    <title>Personal Website</title>
    <div class="container" style="width:100%;">
        <div class="row">
            <div class="col-md-4 fullHeight" style="background-color: #89bdd3;">
                <div>
                    <a class="btn back-button-project" href="/projects">
                        <div><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
                    </a>
                </div>
                <hr id="hr-below-element">
                <div style="margin: 30px;">
                    <b>Technologies:</b>
                    <ul>
                        <li>JavaScript</li>
                        <li>Node.js</li>
                        <li>Express framework</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Prerequisites:</b>
                    <ul>
                        <li>Node.js installed</li>
                        <li>Web browser</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Running:</b>
                    <ul>
                        <li>Clone the project from GitHub repository</li>
                        <li>Open terminal on the project root directory</li>
                        <li>In terminal run command <i>node app.js</i></li>
                        <li>Go to a browser and access <i>localhost:3000</i> address</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Links to Repository:</b>
                    <ul style="list-style-type: none;">
                        <li>
                            <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/PersonalWebsite"> <img
                                    src="/resources/images/Shared/github.png" width="130" height="50"
                                    alt="Italian Trulli"></a>
                        </li>
                    </ul>
                </div>
                <hr id="hr-over-element">
                <div>
                    <b>Other projects:</b>
                    <ul class="other-projects-list">
                        <li><a href="/projects/chronicalKidneyDiseaseAI">Chronical Kidney Disease AI recognition</a></li>
                        <li><a href="/projects/balticMarinas">Baltic Marinas</a></li>
                        <li><a href="/projects/unitConverter">Unit Converter</a></li>
                        <li><a href="/projects/realEstate">Real Estate</a></li>
                        <li><a href="/projects/spaceShooter">Space Shooter</a></li>
                        <li><a href="/projects/jobTrack">Job Track</a></li>
                        <li><a href="/projects/ticTacToe">Tic-Tac-Toe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 fullHeight" style="background-color: #9ad3de;">
                <div style="margin: 30px">
                    <h1 class="center-project-title">Personal Website</h1>
                </div>
                <div>
                    <div class="w3-content w3-display-container">
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/PersonalWebsite/HomePage.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/PersonalWebsite/Projects.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/PersonalWebsite/ExampleProject.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>
                <article>
                    <p>
                        Personal website of Edgaras Kazlauskas which goal is to present both the programming skills and
                        projects done. One the website it is possible to see descriptions of projects that are already done and those that are still being built.
                    </p>
                    <p>
                        It is also possible to find the contact information of Edgaras Kazlauskas or to contact him directly via a user frienly fill form.
                        The website can be viewed on any browser and also on a mobile device.
                    </p>
                    <p>
                        This personal website is built on Node.js platform together with Express framework, HTML and CSS.
                    </p>
                    <p>
                        Link to the website: <a target="_blank" href="http://edgaras-cv.herokuapp.com">http://edgaras-cv.herokuapp.com</a>
                </article>
            </div>
        </div>
    </div>

    <body>

</html>