<!DOCTYPE html>
<html>
    <head>
        <script src="/resources/jquery/jquery-3.4.1.js"></script>
        <script>
            $(function(){ $("head").load("/views/Projects/Shared/head.html") });
        </script>
    </head>
    <body>
        <div class="container" style="width:100%;">
            <div class="row">
                <div class="col-md-4 fullHeight" style="background-color: #89bdd3;">
                        <div>
                            <a class="btn back-button-project" href="/projects">
                                <div><span class="glyphicon glyphicon-chevron-left"></span>   Back</div>
                            </a>
                        </div>
                            <hr id="hr-below-element">
                            <div style="margin: 30px;">
                                Technologies
                                <ul>
                                    <li>Java</li>
                                    <li>IntelliJ IDEA</li>
                                </ul>
                            </div>
                            <div style="margin: 30px;">
                                Prerequisites
                                <ul>
                                    <li>IntelliJ IDE (or any other) installed</li>
                                </ul>
                            </div>
                            <div style="margin: 30px;">
                                Running
                                <ul>
                                    <li>Run Start.java file</li>
                                    <li>Choose "vs Friend" game mode</li>
                                    <li>Insert credentials of the players</li>
                                    <li>Start the game</li>
                                </ul>
                        </div>
                        <div style="margin: 30px;">
                                Links to Repository:
                                <ul style="list-style-type: none;">
                                    <li>
                                        <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/RealEstate"> <img src="/resources/images/Shared/github.png" width="130" height="50" alt="Italian Trulli"></a>
                                    </li>
                                </ul>
                        </div>
                        <hr id="hr-over-element">
                        <div >
                                Other projects
                                <ul class="other-projects-list">
                                    <li>Space Shooter</li>
                                    <li>Personal Website</li>
                                    <li>Baltic Marinas</li>
                                    <li>Real Estate</li>
                                    <li>Chronical Kidney Disease AI recognition</li>
                                </ul>
                        </div>
                </div>
                <div class="col-md-8 fullHeight" style="background-color: #9ad3de;">
                        <div style="margin: 30px">
                            <h1 class="center-project-title">Real Estate</h1>
                        </div>
                        <article>
                            <p>
                                Web application for booking marinas.
                            </p>
                        </article>

                </div>
            </div>
        </div>
    <body>
</html>