<!DOCTYPE html>
<html>

<head>
    <script src="/resources/jquery/jquery-3.4.1.js"></script>
    <script>
        $(function () { $("head").load("/views/Projects/Shared/head.html") });
    </script>
</head>

<body style="height: 100vh;">
    <title>Real Estate</title>
    <div class="container" style="height: 100vh; width: 100%;">
        <div class="row" style="display: flex; height: auto; min-height: 100%;">
            <div class="col-md-4"style="background-color: #89bdd3;">
                <div>
                    <a class="btn back-button-project" href="/projects">
                        <div><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
                    </a>
                </div>
                <hr id="hr-below-element">
                <div style="margin: 30px;">
                    <b>Technologies:</b>
                    <ul>
                        <li>.NET</li>
                        <li>C#</li>
                        <li>SQL</li>
                        <li>ASP.NET MVC 5</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Prerequisites:</b>
                    <ul>
                        <li>Visual Studio IDE installed</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Running:</b>
                    <ul>
                        <li>Clone the project from GitHub repository</li>
                        <li>Open <i>RealEstate.sln</i> file using Visual Studio IDE</li>
                        <li>Start the application by clicking <i>Play</i> button and choosing a browser</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    <b>Links to Repository:</b>
                    <ul style="list-style-type: none;">
                        <li>
                            <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/RealEstate"> <img
                                    src="/resources/images/Shared/github.png" width="130" height="50"
                                    alt="Italian Trulli"></a>
                        </li>
                    </ul>
                </div>
                <hr id="hr-over-element">
                <div>
                    <b>Other projects:</b>
                    <ul class="other-projects-list">
                        <li><a href="/projects/dodger">Dodger</a></li>
                        <li><a href="/projects/chronicalKidneyDiseaseAI">Chronical Kidney Disease AI recognition</a></li>
                        <li><a href="/projects/balticMarinas">Baltic Marinas</a></li>
                        <li><a href="/projects/personalWebsite">Personal Website</a></li>
                        <li><a href="/projects/unitConverter">Unit Converter</a></li>
                        <li><a href="/projects/spaceShooter">Space Shooter</a></li>
                        <li><a href="/projects/jobTrack">Job Track</a></li>
                        <li><a href="/projects/ticTacToe">Tic-Tac-Toe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8" style="background-color: #9ad3de;">
                <div style="margin: 30px">
                    <h1 class="center-project-title">Real Estate</h1>
                </div>
                <div>
                    <div class="w3-content w3-display-container">
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/RealEstate/HomePage.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/RealEstate/SearchForProjects.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/RealEstate/ProjectExample.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/RealEstate/Contacts.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:85%; height:32%;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>
                <article>
                    <p>
                        Web application created for an imaginary real estate company in Lithuania. Website is providing visitors an ability to search for
                        available to buy real estate projects, read information about them and contact the company via special form online.
                    </p>
                    <p>
                        The application is build on .NET platform using ASP.NET MVC 5 framework. In this project the Model-View-Controller architectural design
                        pattern is used together with an internal based SQL database.
                    </p>
                    <p>
                        User has an ability to choose between three different languages: English, Lithuanian and Russian. With the help of <i>cookies</i> the application
                        remembers which language was used during the last visit of the user.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <body>

</html>