<!DOCTYPE html>
<html>
    <head>
        <script src="/resources/jquery/jquery-3.4.1.js"></script>
        <script>
            $(function(){ $("head").load("/views/Projects/Shared/head.html") });
        </script>
    </head>
    <body>
        <div class="container" style="width:100%;">
            <div class="row">
                <div class="col-md-4 fullHeight" style="background-color: #89bdd3;">
                        <div>
                            <a class="btn back-button-project" href="/projects">
                                <div><span class="glyphicon glyphicon-chevron-left"></span>   Back</div>
                            </a>
                        </div>
                            <hr id="hr-below-element">
                            <div style="margin: 30px;">
                                Technologies
                                <ul>
                                    <li>Java</li>
                                    <li>IntelliJ IDEA</li>
                                </ul>
                            </div>
                            <div style="margin: 30px;">
                                Prerequisites
                                <ul>
                                    <li>IntelliJ IDE (or any other) installed</li>
                                </ul>
                            </div>
                            <div style="margin: 30px;">
                                Running
                                <ul>
                                    <li>Run Start.java file</li>
                                    <li>Choose "vs Friend" game mode</li>
                                    <li>Insert credentials of the players</li>
                                    <li>Start the game</li>
                                </ul>
                        </div>
                        <div style="margin: 30px;">
                                Links to Repository:
                                <ul style="list-style-type: none;">
                                    <li>
                                        <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/Space-Shooter-1.0"> <img src="/resources/images/Shared/github.png" width="130" height="50" alt="Italian Trulli"></a>
                                    </li>
                                </ul>
                        </div>
                        <hr id="hr-over-element">
                        <div >
                                Other projects
                                <ul class="other-projects-list">
                                    <li>Space Shooter</li>
                                    <li>Personal Website</li>
                                    <li>Baltic Marinas</li>
                                    <li>Real Estate</li>
                                    <li>Chronical Kidney Disease AI recognition</li>
                                </ul>
                        </div>
                </div>
                <div class="col-md-8 fullHeight" style="background-color: #9ad3de;">
                        <div style="margin: 30px">
                            <h1 class="center-project-title">Space Shooter</h1>
                        </div>
                        <div>
                            <div class="w3-content w3-display-container">
                                    <div class="w3-display-container mySlides">
                                        <img src="/resources/images/SpaceShooter/MainMenu.png" style="display:block; margin-left:auto; margin-right:auto; width:240px; height:460px;">
                                        <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                                        </div>
                                    </div>
                                    <div class="w3-display-container mySlides">
                                        <img src="/resources/images/SpaceShooter/Gameplay1.png" style="display:block; margin-left:auto; margin-right:auto; width:240px; height:460px;">
                                        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                                        </div>
                                    </div>
                                    <div class="w3-display-container mySlides">
                                        <img src="/resources/images/SpaceShooter/Gameplay2.png" style="display:block; margin-left:auto; margin-right:auto; width:240px; height:460px;">
                                        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                                        </div>
                                    </div>
                                    <div class="w3-display-container mySlides">
                                        <img src="/resources/images/SpaceShooter/Gameplay3.png" style="display:block; margin-left:auto; margin-right:auto; width:240px; height:460px;">
                                        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                                        </div>
                                    </div>
                                    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                                    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
                            </div>
                        </div>
                        <article>
                            <p>
                                Web application for booking marinas.
                            </p>
                        </article>

                </div>
            </div>
        </div>
        <script>
                var row = $('.fullHeight');
                var body = document.body,
                html = document.documentElement;

                var screenHeight = Math.max( body.scrollHeight, body.offsetHeight,
                                    html.clientHeight, html.scrollHeight, html.offsetHeight );

                row.css({
                    'height': screenHeight + 'px',
                });

                $(window).resize(function () {
                    screenHeight = $(window).height();
                    row.css({
                        'height': screenHeight + 'px',
                    });
                });
        </script>
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex-1].style.display = "block";
            }
        </script>
    <body>
</html>