<!DOCTYPE html>
<html>

<head>
    <script src="/resources/jquery/jquery-3.4.1.js"></script>
    <script>
        $(function () { $("head").load("/views/Projects/Shared/head.html") });
    </script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <title>Tic Tac Toe</title>
    <div class="container" style="width:100%;">
        <div class="row">
            <div class="col-md-4 fullHeight" style="background-color: #89bdd3;">
                <div>
                    <a class="btn back-button-project" href="/projects">
                        <div><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
                    </a>
                </div>
                <hr id="hr-below-element">
                <div style="margin: 30px;">
                    Technologies
                    <ul>
                        <li>Java</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>IntelliJ IDEA</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    Prerequisites
                    <ul>
                        <li>IntelliJ IDE (or any other) installed</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    Running
                    <ul>
                        <li>Run Start.java file</li>
                        <li>Choose "vs Friend" game mode</li>
                        <li>Insert credentials of the players</li>
                        <li>Start the game</li>
                    </ul>
                </div>
                <div style="margin: 30px;">
                    Links to Repository:
                    <ul style="list-style-type: none;">
                        <li>
                            <a target="_blank" href="https://github.com/EdgarasKazlauskas1987/Tic-Tac-Toe-game"> <img
                                    src="/resources/images/Shared/github.png" width="130" height="50"
                                    alt="Italian Trulli"></a>
                        </li>
                    </ul>
                </div>
                <hr id="hr-over-element">
                <div>
                    Other projects
                    <ul class="other-projects-list">
                        <li>Space Shooter</li>
                        <li>Personal Website</li>
                        <li>Baltic Marinas</li>
                        <li>Real Estate</li>
                        <li>Chronical Kidney Disease AI recognition</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 fullHeight" style="background-color: #9ad3de;">
                <div style="margin: 30px">
                    <h1 class="center-project-title">Tic Tac Toe</h1>
                </div>
                <div>
                    <div class="w3-content w3-display-container">
                        <div class="w3-display-container mySlides slide-show">
                            <img src="/resources/images/TicTacToe/Start.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:35%; height:400px;">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides">
                            <img src="/resources/images/TicTacToe/Credentials.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:70%; height:400px;">
                            <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <div class="w3-display-container mySlides">
                            <img src="/resources/images/TicTacToe/Gameplay.png"
                                style="display:block; margin-left:auto; margin-right:auto; width:70%; height:400px;">
                            <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black"></div>
                        </div>
                        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                </div>
                <article>
                    <p>
                        A classic desktop game of Tic-tac-toe where two players are taking turns in setting X's and 0's
                        on the board. The game is implemented using
                        Java programming language and styling elements with a help of Cascading Style Sheets (CSS).
                    </p>
                    <p>
                        At the moment a player has the only option to play against another friend, but in the future it
                        is planned to implement Artificial Inteligence
                        module which will allow to play agains computer oponent.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <body>

</html>