<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/fonts/Sofia-Regular.ttf">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/design/css/projects_page.css">
        <link rel="stylesheet" type="text/css" href="/design/css/home_page.css">
         <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <script type="text/javascript" src="javascript.js"></script>
    </head>
    <body style="background-color: #9ad3de; margin: 60px;">
        <h1>hellorld</h1>
    <body>
</html>