<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/fonts/Sofia-Regular.ttf">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/design/css/projects_page.css">
        <link rel="stylesheet" type="text/css" href="/design/css/projects.css">
        <link rel="stylesheet" type="text/css" href="/design/css/home_page.css">
         <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <script type="text/javascript" src="javascript.js"></script>
    </head>
    <body style="height: 100%">
        <div style="height: 100%" class="row">
            <div style="background-color: #89bdd3; height: 100%" class="col-md-3">
                <div style="margin: 30px; height: 100%">
                    other projects
                </div>
            </div>
            <div style="background-color: #9ad3de;" class="col-md-9">
                <div style="margin: 30px">
                        <h1 class="center-title">Tic Tac Toe</h1>
                </div>
            </div>
        </div>
    </body>
</html>